@import url("https://fonts.googleapis.com/css2?family=Cantarell:wght@700&display=swap");

.app {
  display: flex;
  align-items: center;
  font-family: "Cantarell", sans-serif;
}

.app.left {
  flex-direction: row;
}

.app.right {
  flex-direction: row-reverse;
}

.app.debugging {
  background-color: black;
}

.app .logo {
  z-index: 2;
}

.app .progress-bar.left {
  margin-left: -3rem;
  z-index: 1;
}

.app .progress-bar.right {
  margin-right: -3rem;
  z-index: 1;
}
