.logo {
  height: 100px;
  width: 100px;
  background: rgb(26, 76, 109);
  background: linear-gradient(
    0,
    rgba(26, 76, 109, 1) 0%,
    rgba(64, 116, 194, 1) 100%
  );
  border: solid 0.5rem #7fd836;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-2020 img {
  width: 90%;
  height: 90%;
  padding: 0.25rem 0.25rem 0 0;
}

.logo-wings-2021 img {
  width: 80%;
  height: 80%;
  padding: 0.25rem 0.75rem 0 0;
}

.logo-dice-2021 img {
  width: 80%;
  height: 80%;
  padding: 0.25rem 0.25rem 0 0;
}
